@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  margin: 0;
  padding: 0;
}

.plantImage {
  object-fit: fill;
}
.noise {
  background: url("/images/noise.svg");
  /* filter: contrast(700%) brightness(900%); */
  opacity: 50%;
  /* background-color: red; */
}
.accent {
  color: #f9a8d4;
}
.hovered {
  transform: scale(1.4);
  fill: #ff0;
}
#left > .hovered {
  fill: #ff0;
}
.subtitle {
  font-weight: 600;
}

.cartTransition.open {
  animation: fadeIn 1s, slideIn 0.8s linear;
}
.cartTransition.closed {
  animation: slideOut 0.6s linear;
}

@keyframes slideOut {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(100%);
    opacity: 1;
  }
}

@keyframes slideIn {
  0% {
    transform: translateY(400px);
    animation-timing-function: ease-out;
  }
  60% {
    transform: translateY(-30px);
    animation-timing-function: ease-in;
  }
  80% {
    transform: translateY(10px);
    animation-timing-function: ease-out;
  }
  100% {
    transform: translateY(0px);
    animation-timing-function: ease-in;
  }
}
::-webkit-search-cancel-button,
::-webkit-search-decoration {
  display: none;
}

.splotch {
  /* width: 8rem; */
}
/* .splotch {
  transition: all 0.2s ease-in-out;
}


.rotate {
  animation: rotation 1200s infinite linear;
} */

@keyframes rotation {
  from {
    transform: rotate(359deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@media (prefers-color-scheme: dark) {
}
