@tailwind base;
@tailwind components;
@tailwind utilities;

.noise {
  background: url("/images/noise.svg");
  filter: contrast(700%) brightness(900%);
  opacity: 50%;
  /* background-color: red; */
}
.accent {
  color: #f9a8d4;
}
.hovered {
  transform: scale(1.4);
  fill: #ff0;
}
#left > .hovered {
  fill: #ff0;
}

::-webkit-search-cancel-button,
::-webkit-search-decoration {
  display: none;
}
.cleanSearch {
}
/* .splotch {
  transition: all 0.2s ease-in-out;
}


.rotate {
  animation: rotation 1200s infinite linear;
} */

@keyframes rotation {
  from {
    transform: rotate(359deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@media (prefers-color-scheme: dark) {
}
